html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #E1D4C9;
  cursor: default;
  padding: 20px 40px 0 40px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1360px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: calc(100vh - 510px);
  background: #E1D4C9;
  margin-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.menu-list {
  margin: 0 0 4px 0;
  padding: 0;
  gap: 40.5px;
  display: flex;
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark, #403F3D);
}

.menu-list__item a{
  cursor: pointer;
  position: relative;
}

.menu-list__item a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: auto;
  width: 0;
  opacity: 0;
  border-bottom: solid 2px #403F3D;
  transition: 1s;
}

.menu-list__item:last-of-type {
  display: none;
}

.header__btn-menu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  margin-bottom: 4px;
  cursor: default;
  position: relative;
  color: var(--text-dark, #403F3D);
  user-select: none;
}

.header__btn-menu::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: auto;
  border-bottom: solid 2px #403F3D;
  transition: 1s;
  width: 100%;
}

.header__btn-menu img {
  margin-bottom: 4px;
}

.header__burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  background: none;
  position: relative;
  transition: 1s;
  cursor: pointer;
}

.header__burger-menu::before {
  content: '';
  width: 17.5px;
  height: 1.5px;
  display: block;
  background: #665F55;
  position: absolute;
  left: 12px;
  top: 16px;
  border-radius: 100px;
  transition: 1s;
}

.header__burger-menu::after {
  content: '';
  width: 17.5px;
  height: 1.5px;
  display: block;
  background: #665F55;
  position: absolute;
  left: 12px;
  top: 24px;
  border-radius: 100px;
  transition: 1s;
}

.header__burger-menu_click::before {
  top: 20px;
  rotate: 45deg;
}

.header__burger-menu_click::after {
  top: 20px;
  rotate: -45deg;
}

.menu {

}

.menu__controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu__controls_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px 7px 7px;
  gap: 8px;
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid #C1B6AD;
  color: #403F3D;
  background: none;
  transition: 1s;
  cursor: pointer;
}

.menu__controls_btn img {
  padding: 7px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #C1B6AD;
  transition: 1s;
}

.menu__controls_btn_clicked {
  background: #665F55;
  color: #E1D4C9;
  border: 1px solid #665F55;
}

.menu__controls_btn_clicked img {
  background: #E1D4C9;
}

.menu h1 {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-width: 800px;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark, #403F3D);
}

.menu h1 span {
  color: var(--text-accent, #B0907A);
  font-style: italic;
}

.menu__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.product {
  height: 506px;
  width: calc(25% - 30px);
  display: grid;
  grid-template-rows: 310px 50px 90px 60px;
  color: var(--text-dark, #403F3D);
  border: solid 1px #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0;
  animation: show 0.5s forwards;
}

.product__image {
  width: 100%;
  height: calc(100% - 2px);
  border-radius: 40px;
  overflow: hidden;
}

.product__image img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: contain;
  transform: scale(1.1);
  transition: 1s;
}

.product__title {
  margin: 20px -2px 0 0;
  padding: 0 20px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.product__description {
  margin: 12px -2px 0 0;
  padding: 0 20px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.product__price {
  margin: 6px -2px 0 0;
  padding: 0 20px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.refresh-btn {
  border-radius: 50%;
  border: 1px solid var(--border-dark, #665F55);
  width: 60px;
  height: 60px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  cursor: pointer;
  transition: 1s;
}

.refresh-btn svg {
  stroke: #403F3D;
  transition: 1s;
}

.footer {
  left: 0;
  right: 0;
  margin: 0 auto 40px auto;
  max-width: 1360px;
  height: 450px;
  width: 100%;
  border-radius: 40px;
  background: var(--background-container, #665F55);
  padding: 100px;
  display: flex;
  gap: 100px;
  color: var(--text-light, #E1D4C9);
}

.footer__smile {
  max-width: 530px;
  width: 100%;
}

.footer__smile h2 {
  margin: 0 0 40px 0;
  padding: 0;
  color: var(--text-light, #E1D4C9);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.footer__smile h2 span {
  color: var(--text-accent, #B0907A);
  font-style: italic;
}

.footer__contacts {
  max-width: 530px;
  width: 100%;
}

.footer__button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: none;
  padding: 17px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  outline: none;
  transition: 1s;
  cursor: pointer;
}

.footer__button:nth-of-type(2) {
  margin: 0 8px;
}

.footer__button svg {
  stroke: #E1D4C9;
  transition: 1s;
}

.footer h3 {
  margin: 33px 0 40px 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.footer__contacts a {
  position: relative;
  display: block;
  margin: 20px 0;
  width: fit-content;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  gap: 9px;
  transition: 1s;
}

.footer__contacts a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: auto;
  width: 0;
  opacity: 0;
  border-bottom: solid 2px #E1D4C9;
  transition: 1s;
}

.footer p {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  gap: 9px;
  cursor: default;
}

.overlay {
  background: black;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: show-overlay 0.5s forwards;
}

.modal {
  position: fixed;
  z-index: 201;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  background: #E1D4C9;
  padding: 16px;
  border-radius: 40px;
  display: flex;
  opacity: 0;
  animation: show 0.5s forwards;
}

.modal__vision {
  width: 310px;
  height: 100%;
}

.modal__vision_wrapper {
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
}

.modal__vision_wrapper_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  transform: scale(1.095);
}

.modal__content {
  color: #403F3D;
  padding-left: 20px;
  width: calc(100% - 310px);
}

.modal__content_title {
  margin: 1px 0 0 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal__content_description {
  padding: 0;
  margin: 12px 0 0 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal__content_size {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 8px;
}

.modal__content_size_name {
  display: block;
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal__content_additives {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 8px;
}

.modal__content_additives_name {
  display: block;
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal__content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 15px 7px 7.5px;
  background: none;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.5s;
}

.modal__content_button span:nth-of-type(1) {
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
  width: 30px;
  height: 30px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark, #403F3D);
  transition: 0.5s;
}

.modal__content_button span:nth-of-type(2) {
  margin-top: 2px;
  transition: 0.1s;
}

.modal__content_total {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color:#403F3D;
  margin-top: 20px;
}

.modal__content_notification {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-top: 1px solid var(--border-light, #C1B6AD);
  margin-top: 19px;
  padding-top: 11px;
}

.modal__content_notification span {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #403F3D;
}

.modal__content_btn-close {
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark, #403F3D);
  background: none;
  border-radius: 100px;
  padding: 9px 77px;
  border: 1px solid var(--border-dark, #665F55);
  margin-top: 32px;
  transition: 0.5s;
}

.modal__content_btn-close:hover {
  cursor: pointer;
  background: #665F55;
  color: #E1D4C9;
}

@media (max-width: 1375px) {
  .container {
    min-height: calc(100vh - 796px);
  }

  .footer {
    flex-wrap: wrap;
    padding: 100px 60px;
    height: 736px;
  }
  .footer__contacts {
    max-width: 1375px;
    width: 100%;
  }
  .footer__contacts h3 {
    margin-top: -2px;
  }
  .footer__smile {
    max-width: 1375px;
    width: 100%;
  }
}

@media (max-width: 1330px) {

  .menu__products {
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .product {
    width: 310px;
  }

  .product__coffee-hide { display: none; }
  .product__dessert-hide { display: none; }

  .refresh-btn {
    display: block;
  }

  .menu__products {
    margin-bottom: 40px;
  }
}

@media (max-width: 860px) {
  .modal {
    max-width: 688px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 16px;
    position: relative;
  }

  .header__btn-menu {
    display: none;
  }

  .header__burger-menu {
    margin-top: -4px;
    display: flex;
  }

  nav {
    position: fixed;
    left: 0;
    top: 84px;
    width: 100%;
    z-index: 100;
  }
  .menu-list {
    position: fixed;
    width: 100%;
    height: calc(100vh - 84px);
    text-align: center;
    display: block;
    color: var(--text-dark, #403F3D);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    padding-top: 17px;
    padding-bottom: 5px;
    background: var(--background-body, #E1D4C9);
    transform: translateX(120%);
    transition: 1s;
  }

  .menu-list__item {
    margin: 60px 0;
  }

  .menu-list__item:last-child {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  .menu-list__item:last-child::after{
    content: '';
    position: absolute;
    display: inline;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: auto;
    border-bottom: solid 2px #403F3D;
    transition: 1s;
    width: 143px;
  }
}

@media (max-width: 750px) {
  .modal {
    max-width: 342px;
  }

  .modal__content {
    width: 100%;
    padding: 0;
  }

  .modal__vision {
    display: none;
  }
}

@media (max-width: 690px) {

  body {
    padding: 20px 16px 0 16px;
  }

  .menu h1 {
    font-size: 32px;
    line-height: 125%;
  }

  .menu__controls {
    gap: 8px;
  }

  .container {
    min-height: calc(100vh - 586px);
  }

  .footer {
    height: 526px;
    padding: 60px 16px;
    gap: 34px;
  }

  .footer__smile h2 {
    margin-top: 1px;
    margin-bottom: 38px;
    font-size: 32px;
    line-height: 125%;
  }

  .footer__contacts {
    margin-top: 9px;
  }
}

@media (max-width: 380px) {}

*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {background-color: #E1D4C9;}
*::-webkit-scrollbar-track:hover {background-color: #E1D4C9;}
*::-webkit-scrollbar-track:active {background-color: #E1D4C9;}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e2b793; 
}
*::-webkit-scrollbar-thumb:hover {background-color: #deb089;}
*::-webkit-scrollbar-thumb:active {background-color: #e19a5f;}

.scroll-off {
  overflow: hidden;
}

.show-menu {
  transform: translateX(0);
}

@media (hover: hover) {
  .menu-list__item a:hover::after {
    left: 0;
    width: 100%;
    opacity: 1;
  }
  
  .menu__controls_btn:hover {
    background: #665F55;
    color: #E1D4C9;
    border: 1px solid #665F55;
  }
  
  .menu__controls_btn:hover img {
    background: #E1D4C9;
  }
  
  .product:hover .product__image img{
    transform: scale(1);
  }
  
  .refresh-btn:hover {
    background: #665F55;
  }

  .refresh-btn:hover svg {
    stroke: #E1D4C9;
  }
  
  .footer__button:hover {
    background: var(--background-body, #E1D4C9);
  }
  
  .footer__button:hover svg {
    stroke: #403F3D;
  }
  
  .footer__contacts a:hover::after {
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .modal__content_button:hover {
    cursor: pointer;
    color: #E1D4C9;
    border-color: #665F55;
    background: #665F55;
  }
  
  .modal__content_button:hover span:nth-of-type(1) {
    background: #E1D4C9;
  }

  .scroll-off {
    margin-right: 5px;
  }
}

.modal__content_button_active {
  transition: 0.5s;
  cursor: pointer;
  color: #E1D4C9;
  border-color: #665F55;
  background: #665F55;
}

.modal__content_button_active span:nth-of-type(1) {
  background: #E1D4C9;
}

.menu__controls_btn:disabled {
  cursor: default;
}

.menu__controls_btn:disabled {
  cursor: default;
}

.modal__content_button:disabled {
  cursor: default;
  color: #E1D4C9;
  border-color: #665F55;
  background: #665F55;
  transition: 0.5s;
}

.modal__content_button:disabled span:nth-of-type(1) {
  background: #E1D4C9;
}

.show {  animation: 0.5s show forwards; }
.hide {  animation: 0.5s hide forwards; }
.hide-overlay { animation: 0.5s hide-overlay forwards; }

@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes show-overlay {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}

@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes hide-overlay {
  0% {opacity: 0.5;}
  100% {opacity: 0;}
}

.unvisible {
  display: none;
}